main {
  background-color: var(--primary-color);
}
#details {
  min-height: 50%;
  padding: 5rem 0;
}
#details .wrapper {
  align-items: flex-start;
  justify-content: flex-start;
}
.details__img {
  margin-right: 5rem;
}
.details__img img {
  border-radius: var(--border-radius);
}
.details__discription h2 {
  font-size: 3.6rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.description__rate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
}
.rate__view {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}
.rate__view div {
  background-color: #000;
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  transition: var(--transition);
}
.rate__share {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}
.rate__share div {
  background-color: var(--card-color);
  display: inline-block;
  width: 3.6rem;
  height: 3.6rem;
  line-height: 36px;
  border-radius: 50%;
  text-align: center;
  margin-right: 1rem;
  transition: var(--transition);
}
.rate__share div:hover,
.rate__view div:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}
.description__owner{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.owner{
    background-color: var(--card-color);
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    border-radius: var(--border-radius);
    margin: 0.5rem;
    overflow: hidden;
    width: 50%;
    margin-top: 2rem;
}
.owner__pic{
    margin: 1rem;
}
.owner__pic img{
    border-radius: var(--border-radius);
    width: 5rem;
}
.owner__name p{
    opacity: 0.5;
    margin-bottom: 0.3rem;
    font-size: 1.3rem;
    font-weight: 300;
}
.owner__name h3{
    font-weight: 400;
}
.description__detaile p{
    margin: 1rem;
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-weight: 300;
}
.description__price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.description__price .price{
    background-color: var(--card-color);
    padding: 1rem;
    width: 50%;
    margin: 1rem;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.description__btn-bid .btn{
    text-align: center;
    border: 1px solid var(--light-color);
    display: block;
    width: 100%;
    color: var(--light-color);
    margin-top: 1rem;
    border-radius: var(--border-radius);
    font-weight: 500;
    transition: var(--transition);
    padding: 1.5rem 0;
}

.description__btn-bid .btn:hover{
    background-color: var(--light-color);
    color: var(--primary-color);
}
.description__btn-bid .btn:hover i{
    color: var(--secondary-color);
}
#live{
  background-color:var(--primary-color);
}