/* Style the tab */
.tab {
  overflow: hidden;
  border-bottom: 1px solid #ebeaea30;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1.4rem 1.6rem;
  transition: 0.3s;
  font-size: 1.7rem;
  color: var(--light-color);
}

/* Change background color of buttons on hover */
.tab button:active {
}

/* Create an active/current tablink class */
.tab button.active {
  border-bottom: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}
.description__tab {
  margin-top: 1rem;
}
.tabcontent__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.5rem;
  border-bottom: 1px solid #ebeaea30;
  padding: 1rem;
}
.tabcontent__info:last-child{
  border-bottom: 0;
}
.info__avatar {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-right: auto;
}
.info__avatar img {
  width: 4rem;
  margin-right: 0.5rem;
  border-radius: 1rem;
}
#London {
  height: 15rem;
  overflow-y: scroll;
}
.avatar__name h3 {
  font-weight: 500;
  font-size: 1.3rem;
}
.avatar__name h3 span,
.avatar__name p {
  font-weight: 400;
  font-size: 1.2rem;
  opacity: 0.6;
}
/* scroll */
#London::-webkit-scrollbar{
  width: 0.2rem;
  background-color: var(--dark-color);
}
#London::-webkit-scrollbar-thumb{
  background-color: #ebeaea30;
}