.btn {
  padding: 1.3rem 2rem;
  background-color: var(--transition);
  font-family: inherit;
  font-weight: 500;
  font-size: 1.7rem;
  color: var(--light-color);
  outline: none;
  border: 2px solid var(--primary-color);
  border-radius: var(--border-radius-xlg);
  vertical-align: baseline;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--primary-color);
  box-shadow: 0 0 0 1px var(--primary-color) inset;
  transition: var(--transition);
  color: var(--light-color);
}
