@import "./buttons.css";
@import "./colors.css";
@import "./reset.css";
@import "./utility.css";
#header {
  min-height: 20%;
  padding: 1rem 0;
  border-bottom: 1px solid var(--gray-color);
}
.navbar li {
  margin: 0 2rem;
}
.navbar li a {
  color: var(--light-color);
  font-size: 1.7rem;
  font-weight: 500;
  padding: 2rem 0.5rem;
  transition: var(--transition);
}
.navbar li a:hover {
  color: var(--primary-color);
}
.navbar__item {
  position: relative;
}
.navbar__links span {
  position: absolute;
  top: 30%;
  right: -1.5rem;
  content: "";
  width: 0.7rem;
  height: 0.7rem;
  border: 2px solid var(--light-color);
  border-top: 0;
  border-right: 0;
  transform: rotate(317deg);
  transition: var(--transition);
}
.navbar__links:hover span {
  border-color: var(--primary-color);
  transform: rotate(132deg);
}
.ri-search-2-line,
.header__changeThem {
  color: var(--light-color);
}
.header__changeThem i {
  display: block;
  background-color: var(--gray-color);
  padding: 1rem;
  border-radius: var(--border-radius-s);
  font-size: 1.7rem;
}
.header__changeThem i:hover {
  background-color: var(--primary-color);
}
/* submenu */
.item {
  position: relative;
}
.submenu {
  position: absolute;
  width: 20rem;
  top: 3rem;
  left: -1rem;
  background-color: var(--card-color);
  border-bottom-left-radius: var(--border-radius-xs);
  border-bottom-right-radius: var(--border-radius-xs);
  display: none;
  transition: var(--transition);
}
.submenu li a {
  display: block;
  width: 100%;
  padding: 1rem 0.5rem;
}
.item:hover > .submenu {
  display: block;
}
/* sticky menu */
.sticky {
  display: flex;
  justify-content: space-around;
  position: fixed;
  gap: 2rem;
  /* width: 70%; */
  left: 15rem;
  right: 15rem;
  z-index: 100;
  transition: var(--transition);
  margin: 0.5rem auto;
  background-color: var(--dark-color);
  padding:0.5rem 3rem;
  border: 1px solid var(--card-color);
  border-radius: var(--border-radius-s);
  box-shadow: 0 0 0.5rem 0 var(--gray-color);
}
