#header {
  border-bottom: 0.1rem solid #3f3f48;
  background-color: var(--primary-color);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
}
#header.sticky {
  background: var(--primary-color);
  position: fixed;
  top: 0;
  transition: all 10s ease;
  z-index: 999;
}
.header__navber a:hover,
.link__arrow:hover {
  color: var(--secondary-color);
}
.header__navber ul li {
  display: inline;
  position: relative;
}

.item__link {
  padding: 0 1.5rem;
}
.header__wallet {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.header__wallet .wallet__btn button {
  background-color: transparent;
  color: var(--light-color);
  border-radius: var(--border-radius);
  border: 1px solid var(--secondary-color);
  margin-left: 2rem;
  transition: var(--transition);
}
.header__wallet .wallet__btn button:hover {
  color: var(--secondary-color);
  background-color: var(--light-color);
}
.theme .btn {
  background-color: #3f3f48;
  padding: 0.6rem 1rem;
  text-align: center;
  border-radius: 1rem;
}

.link__arrow {
  content: "";
  width: 0.7rem;
  height: 0.7rem;
  border: 0.1rem solid var(--light-color);
  border-width: 0 0.1rem 0.1rem 0;
  position: absolute;
  top: 30%;
  right: 0rem;
  cursor: pointer;
  transform: rotate(45deg);
  transition: var(--transition);
}
.item:hover {
  color: var(--secondary-color);
}
.item:hover .link__arrow {
  transform: rotate(223deg);
  border-color: var(--secondary-color);
}
/* drop down menu */
.item {
  position: relative;
}
.submenu {
  width: 12rem;
  border-radius: 0.5rem;
  position: absolute;
  visibility: hidden;
  background-color: var(--light-color);
  top: 0;
  right: 0;
  transition: all 0.3 ease;
}
.item:hover > .submenu {
  visibility: visible;
  top: 100%;
}
.sub__item .item__link {
  text-align: center;
  display: block;
  padding: 1rem;
  color: var(--secondary-color);
}
.sub__item .item__link:hover{
  color: red;
}