#header {
  border-bottom: 0.1rem solid #3f3f48;
  background-color: transparent;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  position: relative;
}
#header.sticky {
  background: var(--primary-color);
  position: fixed;
  top: 0;
  transition: all 2s ease;
  z-index: 999;
}
.header__navber a:hover,
.link__arrow:hover {
  color: var(--secondary-color);
}
.header__navber ul li {
  display: inline;
  position: relative;
}

.item__link {
  padding: 0 1.5rem;
  font-weight: 500;
}
.header__wallet {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.header__wallet .wallet__btn button {
  background-color: transparent;
  color: var(--light-color);
  border-radius: var(--border-radius);
  border: 1px solid var(--secondary-color);
  margin-left: 2rem;
  transition: var(--transition);
}
.header__wallet .wallet__btn button:hover {
  color: var(--secondary-color);
  background-color: var(--light-color);
}
.theme .btn {
  background-color: #3f3f48;
  padding: 0.6rem 1rem;
  text-align: center;
  border-radius: 1rem;
}

.link__arrow {
  content: "";
  width: 0.7rem;
  height: 0.7rem;
  border: 0.1rem solid var(--light-color);
  border-width: 0 0.1rem 0.1rem 0;
  position: absolute;
  top: 40%;
  cursor: pointer;
  transform: rotate(45deg);
  transition: var(--transition);
}
.item:hover {
  color: var(--secondary-color);
}
.item:hover .link__arrow {
  transform: rotate(223deg);
  border-color: var(--secondary-color);
}
/* drop down menu */
.submenu {
  visibility: hidden;
  position: absolute;
  top: 100%;
  white-space: nowrap;
  background-color: var(--light-color);
  width: 160px;
  left: 0;
  line-height: 5rem;
  transition: var(--transition);
  margin-top: 1rem;
  border-radius: 0.5rem;
}
.item {
  display: inline-block;
  padding: 1rem;
}
.sub__item {
  width: fit-content;
}
.sub__item a {
  display: block;
  color: var(--primary-color);
  position: relative;
  transition: var(--transition);
}
.sub__item a::before {
  position: absolute;
  top: 50%;
  left: 0;
  content: "";
  width: 0;
  height: 0.3rem;
  display: inline-block;
  background-color: var(--secondary-color);
  transition: var(--transition);
}
a.item__link:hover{
  transform: translateX(1rem);
}
a.item__link:hover::before {
  width: 1.2rem;
}

.item:hover > .submenu {
  visibility: visible;
}
