#hero {
  min-height: 60%;
  margin-top: 2%;
}
.hero__img {
  background-image: url("../axies-images/02_hero/Blob\ Shape.png");
  background-position: center;
  background-repeat: no-repeat;
  flex-grow: 1;
  padding: 5rem 0;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#img__white--pic {
  float: right;
  transition: var(--transition);
  animation: myAnim 2s ease 0s infinite normal ;
}
#img__blue--pic {
  float: none;
  position: absolute;
  bottom: 7rem;
  left: 15%;
  opacity: 0.9;
  animation: myAnim 2s ease 0s infinite normal ;
}
.hero__text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.hero__text h1 {
  font-size: 6rem;
  margin-bottom: 2rem;
}
.hero__text p {
  margin-bottom: 2rem;
  font-size: 1.8rem;
  opacity: 0.8;
}
#hero__text--gradiant {
  background-image: linear-gradient(
    180deg,
    rgba(196, 80, 227, 1) 0%,
    rgba(117, 81, 230, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero__text button:first-child {
  margin-right: 1.5rem;
}
