*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:root {
  --primary-color: #14141f;
  --secondary-color: #5142fb;
  --dark-color: #030303;
  --card-color: #343444;
  --light-color: #ffffff;

  --border-radius: 2rem;

  --transition: all 0.4s ease;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap");
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  background-color: var(--primary-color);
  color: var(--light-color);
}

button {
  cursor: pointer;
  font-family: inherit;
}
input {
  font-family: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 1rem;
}
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.btn {
  font-size: var(--font-size-md);
  padding: 1rem 3rem;
  border: none;
  box-shadow: none;
  transition: var(--transition);
  background-color: transparent;
}
.btn__primary {
  color: var(--light-color);
  border: 1px solid var(--secondary-color);
  border-radius: var(--border-radius);
}
.btn__primary:hover {
  background-color: var(--secondary-color);
}
.icon {
  margin: 0 0.5rem;
}
.card {
  background-color: var(--card-color);
  border-radius: 1rem;
  padding: 1.7rem;
}
.card img {
  border-radius: 1rem;
}
