.flex {
  display: flex;
  align-items: center;
}
.flex-direction-column {
  flex-direction: column;
}
.flex-direction-row {
  flex-direction: row;
}
.justify-content-space-between {
  justify-content: space-between;
}
.justify-content-space-around {
  justify-content: space-around;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-start {
  justify-content: start;
}
.gap-1 {
  gap: 1rem;
}
.gap-2 {
  gap: 2rem;
}
.gap-3 {
  gap: 3rem;
}
.gap-4 {
  gap: 4rem;
}

.gride {
  display: grid;
  align-items: center;
}

.heading {
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 3.6rem;
  margin-bottom: 1rem;
}
.badge {
  background-color: #000;
  display: inline-flex;
  align-items: center;
  padding:0.6rem 1rem;
  border-radius: var(--border-radius-lg);
  font-size: 1.5rem;
}
.badge i{
  margin-right: 0.5rem;
}